<div class="container">

  <form class="my-3" (ngSubmit)="onSubmit()">
    <fieldset>

      <!-- Form Name -->


      <div class="row d-flex flex-column align-items-center">
        <div class="col-12 col-md-8 card by-4 p-2 p-md-5">
          <h5 class="text-center">Doctors, Nurse Registration</h5>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="name">Name</label>
            <div class="col-md-12">
              <input [(ngModel)]="name" id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">

            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="pricePerHour">Price Per Hour</label>
            <div class="col-md-12">
              <input [(ngModel)]="price_per_hour" id="pricePerHour" name="pricePerHour" type="number" placeholder="pricePerHour" class="form-control input-md" required="">

            </div>
          </div>

          <div class="form-group">
            <label class="col-md-12 control-label" for="email">Email</label>
            <div class="col-md-12">
              <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="email" class="form-control input-md" required="">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="password">Password</label>
            <div class="col-md-12">
              <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-12 control-label" for="phoneNumber">Phone Number</label>
            <div class="col-md-12">
              <input [(ngModel)]="phone_num" id="phoneNumber" name="phoneNumber" type="tel" placeholder="phoneNumber" class="form-control input-md">

            </div>
          </div>

          <!-- Text input-->

          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>


    </fieldset>
  </form>
</div>
