<div class="raw bg-image-with-overlay d-flex flex-column justify-content-center align-content-end" >

  <img *ngIf="patient.avatarPath ==null" src="assets/avatar.png" alt="..." class="rounded mx-auto" style="width: 10rem">
  <img *ngIf="patient.avatarPath !=null" [src]="url+patient.avatarPath" alt="..." class="rounded mx-auto" style="width: 10rem">
</div>
<h3 class="text-center">Hello {{patient.title}} {{patient.firstName}} {{patient.lastName}}</h3>

<form [formGroup]="imageForm" class="mb-3">
<div class="custom-file">
  <input formControlName="file" (change)="onChangeFile($event)" type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
  <button type="button" mat-flat-button (click)="upload()">Upload</button>
</div>
</form>

