form{

  background: hsla(134, 62%, 69%, 1);

  background: linear-gradient(45deg, hsla(134, 62%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

  background: -moz-linear-gradient(45deg, hsla(134, 62%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

  background: -webkit-linear-gradient(45deg, hsla(134, 62%, 69%, 1) 0%, hsla(208, 90%, 88%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7FE196", endColorstr="#C3E1FC", GradientType=1 );
  /*background: hsla(177, 87%, 79%, 1);*/

  /*background: linear-gradient(70deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);*/

  /*background: -moz-linear-gradient(70deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);*/

  /*background: -webkit-linear-gradient(70deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);*/

  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1 );*/
}
#main{
  /*background-image: url("../../../assets/login.jpg");*/
  background-size: cover;
  background-position: center;
}
